# Library Structure Report

Generated: 2026-10-24 18:16:31

## Library Information
- **Name**: MR1
- **Description**: MR1 Precision Nanopore Front-End Component Library
- **Maintainer**: Daemon Pore Engineering <support@daemon.bio>
- **License**: MIT
- **Website**: https://github.com/Aharoni-Lab/kicad-library-validator
- **Repository**: https://github.com/Aharoni-Lab/kicad-library-validator


## Directory Structure
### Symbols
Path: `symbols`

### Footprints
Path: `footprints`

### Models_3D
Path: `3dmodels`

### Documentation
Path: `docs`

### Tables
Path: `tables`


## Symbols
### Symbol Files
-  `symbols/MR1.kicad_sym`

### Symbol Validation Results
#### .
- **Conn_01x11_MP**
  - ⚠️ **Warnings:**
    - Symbol: No matching component entry found for symbol Conn_01x11_MP
- **LT3045xDD-1**
  - ⚠️ **Warnings:**
    - Symbol: No matching component entry found for symbol LT3045xDD-1
- **LTC6268xS8-10_SHIELD**
  - ⚠️ **Warnings:**
    - Symbol: No matching component entry found for symbol LTC6268xS8-10_SHIELD
- **OPA192IDR**
  - ⚠️ **Warnings:**
    - Symbol: No matching component entry found for symbol OPA192IDR
- **PogoPin_SpringHeader_12Pin_Distributed**
  - ⚠️ **Warnings:**
    - Symbol: No matching component entry found for symbol PogoPin_SpringHeader_12Pin_Distributed
- **PogoPin_SpringHeader_6Pin_Array**
  - ⚠️ **Warnings:**
    - Symbol: No matching component entry found for symbol PogoPin_SpringHeader_6Pin_Array
- **TMUX1104DSG**
  - ⚠️ **Warnings:**
    - Symbol: No matching component entry found for symbol TMUX1104DSG


## Footprints
### Footprint Files
-  `footprints/EVAFLEX5-HD_24P.kicad_mod`
-  `footprints/Electrode.kicad_mod`
-  `footprints/Electrode_Guard.kicad_mod`
-  `footprints/Electrode_Guard_Shield.kicad_mod`
-  `footprints/FPC_24.kicad_mod`
-  `footprints/Nanopore holder_recessed.kicad_mod`
-  `footprints/Nanopore holder_stepped.kicad_mod`
-  `footprints/OPA192IDR.kicad_mod`
-  `footprints/PogoPin_SpringHeader_12Pin_Distributed.kicad_mod`
-  `footprints/PogoPin_TargetPad_1.8mm.kicad_mod`
-  `footprints/PogoPin_Target_6Pin_Array.kicad_mod`
-  `footprints/PogoPin_Target_6Pin_Distributed.kicad_mod`
-  `footprints/SOIC-8_3.9x4.9mm_P1.27mm.kicad_mod`

### Footprint Validation Results
#### Uncategorized
- **EVAFLEX5-HD_24P**
- **Electrode**
- **Electrode_Guard**
- **Electrode_Guard_Shield**
- **FPC_24**
- **Nanopore holder_recessed**
- **Nanopore holder_stepped**
- **OPA192IDR**
- **PogoPin_SpringHeader_12Pin_Distributed**
- **PogoPin_TargetPad_1.8mm**
- **PogoPin_Target_6Pin_Array**
- **PogoPin_Target_6Pin_Distributed**
- **SOIC-8_3.9x4.9mm_P1.27mm**


## 3D Models
No 3D model files found.


## Documentation
No documentation files found.
